<div class = "card">
    <div class = "card-header">
        Editar venta
    </div>
    <div class = "card-body">
       <form ngNativeValidate [formGroup] = "formularioDeVentas" (ngSubmit) = "enviarDatos()">
         
        <div class = "mb-3">
          <label for = "" class= "form-label text-wrap">Número de Venta: {{elID}}</label>
        </div>

        <div class = "mb-3">
          <label for = "" class= "form-label text-wrap">Cliente: {{nombreCliente}}</label>
        </div>

        <div class = "mb-3">
          <label for = "" class= "form-label text-wrap">Detalle de venta: {{cantidad}} {{nombreProducto}}</label>
        </div>

        <div class = "mb-3">
          <label for = "" class= "form-label text-wrap">Observación:</label>
          <input required type= "text" class= "form-control" formControlName = "observacion" name = "" id = "" aria-describedby="helpId" placeholder = "Observación" > 
          <label for = "" class= "text-primary text-wrap">Obligatorio</label>  
      </div>

        <div class="mb-3">
          <label for = "" class= "form-label text-wrap">Método de pago:</label>
          <select class="form-select" aria-label="Default select example" formControlName = "metodoPago" required>
            <option value = "{{metodoPago}}" selected="selected">{{metodoPago}}</option>
            <option value = "Credito" >Crédito</option>
          </select>
          <label for = "" class= "text-primary">Obligatorio</label>
        </div>

        <div class = "mb-3">
          <label for = "" class= "form-label">Total de la compra: ${{precioTotal}}</label>
        </div>

  

        <div class = "btn-group" role= "group" aria-label = "">
            <button type= "button" type = "submit" class= "btn btn-success">Tramitar</button>
            
        </div>

        <div class = "btn-group" role= "group" aria-label = "">
          <button type= "button" routerLink = "/listar-venta" class= "btn btn-primary boton2">Cancelar</button>
        </div>


       </form>
    </div>
</div>
