<div class = "info" ><h5>Clientes: {{cantidadClientes}}</h5><img src = "https://cdn-icons-png.flaticon.com/512/686/686317.png"></div>
<div class = "card">
    <div class = "card-header">
        Clientes 
        <a class = "btn btn-success" routerLink = "/agregar-cliente-colaborador/"><i class="fas fa-plus"></i> Agregar cliente</a>
    </div>
    <div class = "card-body">
        <table class = "table text-center">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Whatsapp</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Vendedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let cliente of Clientes | paginate: {itemsPerPage:8, currentPage:pageActual}; let iControl = index">
                    <td>{{cliente.nombres}}</td>
                    <td>{{cliente.apellidos}}</td>
                    <td>{{cliente.whatsapp}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.correo}}</td>
                    <td *ngFor = "let obj of Vendedores [iControl]">{{obj.nombre}}</td>
                    <td > <a class = "btn btn-info" routerLink = "/editar-cliente-colaborador/{{cliente.idCliente}}"><i class="fas fa-edit"></i></a>  | <a name = "" id = "" class = "btn btn-danger" (click)="borrarRegistro(cliente.idCliente,iControl)"><i class="fas fa-trash-alt"></i></a> </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>
