<div class = "card ">
    <div class = "card-header">
        Agregar cuenta
    </div>
    <div class = "card-body card1">
       <form ngNativeValidate [formGroup] = "formularioDeCuentas" (ngSubmit) = "enviarDatos()">

        <div class="mb-3">
            <label for = "" class= "form-label">Producto:</label>
            <select class="form-select" aria-label="Default select example" (change) = "seleccionarProducto()"  formControlName = "idProducto" >
              <option value = "0" selected="selected">Selecciona un producto</option>
              <option *ngFor="let producto of Productos; let iControl=index" value="{{producto.idProducto}}">{{producto.nombre}}</option>
            </select>
            <label for = "" class= "text-primary">Obligatorio</label>
          </div>

           <div class = "mb-3">
               <label for = "" class= "form-label">Correo:</label>
               <input required type= "email" class= "form-control" formControlName = "correo" name = "" id = "" aria-describedby="helpId" placeholder= "Correo de la cuenta">
               <label for = "" class= "text-primary">Obligatorio</label>
           </div>

           <div class = "mb-3">
            <label for = "" class= "form-label">Contraseña:</label>
            <input required type= "password" class= "form-control" formControlName = "contrasena" name = "" id = "" aria-describedby="helpId" placeholder= "Contraseña de la cuenta">
            <label for = "" class= "text-primary">Obligatorio</label>   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Nombre del perfil: </label>
            <input required type= "text" class= "form-control" formControlName = "nombrePerfil" name = "" id = "" aria-describedby="helpId" placeholder= "Nombre del perfil de la cuenta">  
            <label for = "" class= "text-primary">Obligatorio</label> 
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Ping:</label>
            <input required type= "number" class= "form-control" formControlName = "ping" name = "" id = "" aria-describedby="helpId" placeholder= "Ping de la cuenta">   
            <label for = "" class= "text-primary">Obligatorio</label>
        </div>


        <div class = "btn-group" role= "group" aria-label = "">
            <button type= "button" *ngIf = "!selectProducto" type = "submit" class= "btn btn-success">Agregar</button>
            <button type= "button" *ngIf = "selectProducto" class= "btn btn-success" disabled>Agregar</button>
            
        </div>

        <div class = "btn-group" role= "group" aria-label = "">

            <button type= "button" routerLink = "/listar-cuenta" class= "btn btn-primary boton2">Cancelar</button>
        </div>

       </form>
    </div>
</div>
