.contenedor{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
  }

.center{
    margin-left: auto;
    margin-right: auto;
}
  
  .headerr{
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 70px;
    z-index: 3;
  }

  .left_areaa{
    background: #22242A;
    margin-top: -20px;
  }
  
  

  .left_areaa h3{
    color: #fff;
    
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
   
    
  }
  
  .left_areaa span{
    color: rgb(133, 66, 153);
    
  }


  .logout_btn{
    padding: 5px;
    background: rgb(133, 66, 153);
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: -35px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }

  .bell_btn{
    padding: 5px;
    
    text-decoration: none;
    float: right;
    margin-top: -35px;
    margin-right: 10%;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }

  .logout_btn2{
    display:none;

  }

  .logout_btn2icono{
    display:none;

  }

  
  
  .logout_btn:hover{
    background: #0B87A6;
  }



  
  
  .sidebarr {
    z-index: 3;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
  }
  
  .sidebarr .profile_image{
      margin-left: 30%;
      margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebarr h4{
    padding-left: 70px;
    margin-right: auto;
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .sidebarr h5{
    padding-left: 90px;
    margin-right: auto;
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebarr a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebarr a:hover{

    background: rgb(133, 66, 153);
  }
  
  .sidebarr i{
    padding-right: 10px;
  }
  
  label #sidebarr_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 260px;
    margin-top: -10px;

    font-size: 20px;
  
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebarr{
    left: -190px;
    
  }
  
  #check:checked ~ .sidebarr a span{
    display: none;
  }
  
  #check:checked ~ .sidebarr a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
    line-height: 65px;
    margin-top: -20px;
  }

  #check:checked ~ .contenidoWrap{
    transition: 0.5s;
  }
  
  .contenidoWrap{
    background: rgb(255, 255, 255);
    transition: 0.5s;
    
    display: block;
    white-space: nowrap;
    overflow-y: hidden;
    
  }

  .vista-componente{
    border: 1px solid lightgray;
    margin-bottom: 1%;
    margin-top: -1%;
    padding: 1%;
    text-align: end;
    border-radius: 5px;
 
  }
  

  .vista-componente label{
    color:rgb(133, 66, 153);
    text-decoration:underline;
    margin-right: 1%;
  }

  .vista-componente label:hover{
    cursor: pointer;
  }

  .vista-componente i:hover{
    cursor: pointer;
  }

  .contenido{

 
    background-color: rgb(255, 255, 255);
  
 
    display:block;
    white-space: nowrap;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    overflow-x: auto;
    overflow-y: auto;
    height: 90%;
  }
  
  #check:checked ~ .contenidoWrap{
    margin-left: -190px;
  }
  
  #check{
    display: none;
  }

  .botonDesplegar{
    margin-top: -20px;
  }


  .linea{
    border: 0.5px solid  lightgray;
    margin-bottom: 3%;
  }

  .sidebarr .saldo{
    color: rgb(42, 141, 42);
  }

  .tarjeta-contenido{
   
    width: 100%;
    background-color: white;
    padding-top: 7%;
    padding-left: 260px;
    padding-right: 10px;
   
    display:block;
    white-space: nowrap;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    height:100vh;

   

  }

  .info{
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 2px lightgray;
    display: inline-block;
    width: 20%;
 
    text-align: center;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  
  .info h5{
    padding-top: 15%;
  }
  
  .info img{
    width: 30%;
    height: 40%;
  }

  
  
 
  @media screen and (max-width: 1200px){
    .tarjeta-contenido{
      padding-top: 10%;
    }
    .info{
      width: 30%;
    }
    .bell_btn{
      margin-top: -37px;
      margin-right: 12%;
    }

    .logout_btn{
      margin-right: 20px;
     
      
    }
  }

  @media screen and (max-width: 800px){
    .tarjeta-contenido{
      padding-top: 15%;
    }

    .info{
      width: 40%;
    }

    
    
  }

  @media screen and (max-width: 700px){
    .sidebarr{
      display: none;
      left: -190px;
      transition: 0.5s;
    }

  
  

    
    
    .sidebarr a span{
      display: none;
    }
    
    .sidebarr a{
      font-size: 20px;
      margin-left: 170px;
      width: 80px;
      margin-top: -20px;
      
    }

    #check:checked ~ .sidebarr a{
      line-height: 80px;
    }

    .sidebarr a{
      line-height:15px;
    }

    .bell_btn{
      display: none;
    }

    .logout_btn2icono{
      display:block;
  
    }

    .center{
      display: none;
    }
  
    .contenidoWrap{
      transition: 0.5s;
    }

    .contenidoWrap{
      margin-left: -250px;;
    }
    
    #check{
      display: none;
    }

    label #sidebarr_btn{
      left: 90%;
    }

    .logout-btn2{
      display: inline;
    }

    .sidebarr a:hover{
      line-height: 30px;
      background: rgb(133, 66, 153);
    }

   

    .sidebarr a{

      line-height: 100px;
    }

    #check:checked ~ .sidebarr{
      display: block;
      
    }
    
    #check:checked ~ .sidebarr a span{
      display: none;
    }
    
    #check:checked ~ .sidebarr a{
      display: block;
    }
  
    #check:checked ~ .contenidoWrap{
      transition: 0.5s;
    }
    

    #check:checked ~ .contenidoWrap{
      margin-left: -190px;
    }
    
    #check{
      display: none;
    }

    .logout_btn{
      margin-right: 70px;
    }

  }

  @media screen and (max-width: 500px){
    .logout_btn{
      margin-right: 50px;
    }
  }

  
  @media screen and (max-width: 400px){
    .logout_btn{
      padding: 5px;
      background: rgb(133, 66, 153);
      text-decoration: none;
      float: right;
      margin-top: -35px;
      margin-right: 30px;
      border-radius: 2px;
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      transition: 0.5s;
      transition-property: background;
    }

    .info{
      display: none;
    }

    

  }

  
  @media screen and (max-width: 300px){
    .contenido{
      padding-top: 25%;
    }

    .left_areaa h3{
      color: #fff;
      
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 900;
     
      
    }

    .logout_btn{
      margin-right: 30px;
    }

  }
