

<div class = "contenedor" >

    <input type="checkbox" id="check" *ngIf = "logoutbtn">
    <!--header area start-->
    <div class = "headerr" *ngIf = "logoutbtn">
      <label for="check" class = "botonDesplegar">
        <i class="fas fa-bars" id="sidebarr_btn"></i>
      </label>
      <div class="left_areaa">
        <h3>CONEXION <span>PRO</span></h3>
      </div>
      <div class="right_areaa">
        <a  class="bell_btn"><i class="fas fa-bell"></i></a>
        <a href="#" class="logout_btn" (click) = "logout()"><i class="fas fa-angle-left"></i> Salir</a>
      </div>
    </div>
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebarr" *ngIf = "logoutbtn">
      <div class = "center">
        <img src="../assets/logoPanelFondo.jpeg" class="profile_image" alt="">
        <h4>{{nombre}}</h4>
        <h5 class = "saldo">${{saldo}}</h5>
       
      </div>
      
      <a  *ngIf="logoutbtn && adminbtn" routerLink = "listar-cliente" ><i class="fas fa-user-alt"></i><span>Clientes Totales</span></a>
      <a  *ngIf="logoutbtn && adminbtn" routerLink = "listar-producto"><i class="fas fa-tag"></i><span>Productos</span></a>
      <a  *ngIf="logoutbtn && adminbtn" routerLink = "listar-venta"><i class="fas fa-check-circle"></i><span>Ventas Totales</span></a>
      <a  *ngIf="logoutbtn && adminbtn" routerLink = "listar-cuenta"><i class="fas fa-photo-video"></i><span>Cuentas Totales</span></a>
      <a  *ngIf="logoutbtn && adminbtn" routerLink = "listar-pantalla"><i class="fas fa-photo-video"></i><span></span><span>Pantallas Totales</span></a>
      <a  *ngIf="logoutbtn && adminbtn" routerLink = "listar-vendedor"><i class="fas fa-user-alt"></i><span>Colaboradores</span></a>
      <div *ngIf="adminbtn" class = "linea"></div>
      <a  *ngIf="logoutbtn" routerLink = "listar-venta-colaborador"><i class="fas fa-check-circle"></i><span>Ventas</span></a>
      <a  *ngIf="logoutbtn" routerLink = "listar-cliente-colaborador"><i class="fas fa-user-alt"></i><span>Clientes</span></a>
      <a  *ngIf="logoutbtn" routerLink = "listar-pantalla-colaborador"><i class="fas fa-photo-video"></i><span>Pantallas</span></a>
      <a href="#" class="logout_btn2" (click) = "logout()"><i class="fas fa-angle-left" class = "logout_btn2icono"></i></a>
      <a *ngIf="loginbtn"  routerLink = "login">Inicio de Sesión</a>
    </div>
    <!--sidebar end-->
    <div class = "contenidoWrap" *ngIf = "logoutbtn">
      <div class = "tarjeta-contenido">
        <div class = "vista-componente"><label>{{apartado}} </label><i class = "fas fa-home"></i></div>
        
       
        <div class="contenido"><router-outlet></router-outlet></div>
      </div>
     
    </div>
      
    

</div>

<div *ngIf = "loginbtn"><router-outlet></router-outlet></div>

<!---
<div class = "container">
  
</div>-->
