
.contenedor-tarjeta{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    
}

.contenedor-tarjeta h2{
    color: rgb(124, 20, 194);
}


.contenedor-imagen{
    
}

img{
    width: 30%;
    height: 30%;
   
}

input{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 2%;
}



label{
    margin-top: 2%;
}

button{
    margin-bottom: 3%;
    margin-top: 3%;
    color: white;
    background-color:rgb(124, 20, 194);
}

button:hover{
    color: rgb(194, 194, 194);
}


@media screen and (max-width: 1000px){
    .contenedor-tarjeta{
        width: 60%;
        margin-top: 20%;
    }
}

@media screen and (max-width: 500px){
    .contenedor-tarjeta{
        width: 80%;
        margin-top: 30%;
    }
}