<div class = "card">
    <div class = "card-header">
        Editar colaborador
    </div>
    <div class = "card-body">
       <form ngNativeValidate [formGroup] = "formularioDeVendedores" (ngSubmit) = "enviarDatos()">
           <div class = "mb-3">
               <label for = "" class= "form-label">Nombre:</label>
               <input required type= "text" class= "form-control" formControlName = "nombre" name = "" id = "" aria-describedby="helpId" placeholder= "Nombre del colaborador">
               <label for = "" class= "text-primary">Obligatorio</label>
           </div>

           <div class = "mb-3">
            <label for = "" class= "form-label">Nombre de usuario:</label>
            <input required type= "text" class= "form-control" formControlName = "nombreUsuario" name = "" id = "" aria-describedby="helpId" placeholder= "Nombre de usuario del colaborador">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Correo:</label>
            <input required type= "email" class= "form-control" formControlName = "correo" name = "" id = "" aria-describedby="helpId" placeholder= "Correo del colaborador" >   
            <label for = "" class= "text-primary">Obligatorio</label>
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Contraseña</label>
            <input required type= "password" class= "form-control" formControlName = "contrasena" name = "" id = "" aria-describedby="helpId" placeholder= "Contraseña del colaborador">
            <label for = "" class= "text-primary">Obligatorio</label>   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Número Telefónico</label>
            <input required type= "number" class= "form-control" formControlName = "numeroTelefono" name = "" id = "" aria-describedby="helpId" placeholder= "Número telefónico">   
            <label for = "" class= "text-primary">Obligatorio</label>
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Empresa</label>
            <input required type= "text" class= "form-control" formControlName = "empresa" name = "" id = "" aria-describedby="helpId" placeholder= "Empresa">   
            <label for = "" class= "text-primary">Obligatorio</label>
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Saldo</label>
            <input required type= "text" class= "form-control" formControlName = "saldo" name = "" id = "" aria-describedby="helpId" placeholder= "Saldo del colaborador">
            <label for = "" class= "text-primary">Obligatorio</label>   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Créditos</label>
            <input required type= "text" class= "form-control" formControlName = "creditos" name = "" id = "" aria-describedby="helpId" placeholder= "Créditos del colaborador">
            <label for = "" class= "text-primary">Obligatorio</label>   
        </div>

        <div class = "btn-group" role= "group" aria-label = "">
            <button type= "button" type = "submit" class= "btn btn-success">Modificar</button>
            
        </div>

        <div class = "btn-group" role= "group" aria-label = "">
            <button type= "button" routerLink = "/listar-vendedor" class= "btn btn-primary boton2">Cancelar</button>
        </div>

       </form>
    </div>
</div>
