<div class = "info" ><h5>Saldo: ${{saldo}}</h5><img src = "https://cdn-icons-png.flaticon.com/512/50/50268.png"></div>
    <div class = "info"><h5>Créditos: ${{creditos}}</h5><img src = "https://i.pinimg.com/originals/bd/f4/a4/bdf4a4035d7aa53773dc70d7c12c1692.png"></div>

<div class = "card">
    <div class = "card-header">
        Ventas
        <a class = "btn btn-success" routerLink = "/agregar-venta-colaborador/"><i class="fas fa-plus"></i> Agregar venta</a>
    </div>
    <div class = "card-body">

        <table class = "table text-center">
            <thead>
                <tr>
                    <th># Venta</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                    <th>Método de pago</th>
                    <th>Fecha y hora</th>
                    <th>Observación</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let venta of Ventas; let iControl = index">
                    <td>{{venta.idVenta}}</td>
                    <td>{{venta.cantidad}}</td>
                    <td>$ {{venta.precioTotal}}</td>
                    <td>{{venta.metodoPago}}</td>
                    <td >{{venta.fecha | date:'dd/MM/yyyy, h:mm a'}}</td>
                    <td>{{venta.observacion}}</td>
                    <td *ngIf="venta.estado == 'En trámite'"><a routerLink = "/editar-venta-colaborador/{{venta.idVenta}}">{{venta.estado}}</a></td>
                    <td *ngIf="venta.estado != 'En trámite'">{{venta.estado}}</td>
                </tr>
            </tbody>
        </table>
 
    </div>
</div>